# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- Popular languages for DS
- Common libraries for DS
- Data Science tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in PythonThis a simple arithmetic expression to mutiply then add integers

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author

Anastasia